In [5]:
import pandas as pd
girls = {'names':["Ann", "Jane", "Joan" , "Clare", "Elizabeth"],
         'age':["14", "16", "14", "17", "16"],
         'height':["5.5", "6", "5.4", "5.9","5.6"],
         'scores':["80", "85", "70", "60", "76"]}

boys = {'names': ["charles", "Jude", "James","kelvin","Prosper"],
      'age': ["15","16","16", " 17", "14"],
      'height':["5.7","5.9", "5.8","6.1","5.9"],
      'scores':["85","74","87","75","68"]}

df = pd.DataFrame(girls)
df = pd.DataFrame(boys)

df.to_csv('girls.csv')
df

     names  age height scores
0  charles   15    5.7     85
1     Jude   16    5.9     74
2    James   16    5.8     87
3   kelvin   17    6.1     75
4  Prosper   14    5.9     68