In [1]:
# i
def avoids(letter, words):
    for j in letters:
        if i in words:
            return true
        return false

## 2

In [ ]:
d = int(input("what is the distance?"))
t = int(input(" what is the time?"))
s = (d/t)
print (s, "miles/hr")

## 3

In [ ]:
jane = int(input("throw a number "))
jack = int(input("throw a number "))
sum = (jane + jack)
if jane % 2  == sum % 2 and jack % 2 == sum % 2:
    print("you both win")
elif jane % 2  != sum % 2 and jack % 2 == sum % 2:
        print("jack wins")
elif jane % 2 == sum % 2 and jack % 2 != sum % 2: 
                print("jane wins")
else:
                print("you both loose")

# 4

In [ ]:
s = 'aeiou'
s2 = 'aaeiou'
def checker(s):
    return all(s.lower().count(i)==1 for i in 'aeiou')
print(checker(s))
print(checker(s2))

In [ ]:

from tabulate import tabulate
table = [['name','age','height','score'],['anne','14','5.5',
                                        '80'],['jane','16','6','85'],['joan','14','5.4','70'],['clare','17','5.9','60'],['elizabeth','16','5.6','76']]
print(tabulate(table))

In [ ]:

from openpyxl import work, load_workbook
wb = workbook()
ws = wb.active
ws.title = " n"
ws.append (["name","age"])
ws.append (["e",0])
ws.save["Book1.xlsx"]