In [6]:
names = ["ada", "sope", "james"]
print (names[0] + "\n" + names[1] + "\n"+ names[2])

ada
sope
james

In [57]:
#iterating through a list using for loop 
names = ["ada", "sope", "james", "sophia", "bolu" , "bimpe"]
i = 0

for i in names:
    print (i)

#len(names)

#range(start,stop,step)
#for i in range(1,5,3):
    #print (names[i])

ada
sope
james
sophia
bolu
bimpe

In [20]:
#tuples are not mutable
names = ["ada", "sope", "james"]

names[0] = "adaobi"

print (names)

"james" in names

['adaobi', 'sope', 'james']

False

In [16]:
a = "adaobi"
print (a[0] + a[1] + a[2] )

ada

In [18]:
a = "adaobi"
b ="arinzechi"

print (a +" "+ b)

adaobi arinzechi

In [96]:
names = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150]

del names[7:150]
print (names)
#print (names[0:3]) #slice

#for i in range(2,5):
   # print (names[i])

[10, 20, 30, 40, 50, 60, 70]

In [ ]:
# a = [1, 2 , 3]
b = [4, 5, 6]
c = a + b
print(c)
d = a *3
print(d[0] , d[1])

In [62]:
a = [1, 2, 4]
i = 0
for i in a:
    print (i * 3)

3
6
12

In [83]:
names = ["ada", "sope", "james"]
surnames = ["arinze", "ade", "john"]

#names.append("joel")
#names.append(surnames)
#names.extend(surnames)
names.sort()

print (names)

['ada', 'james', 'sope']

In [90]:
def add_all(t):
    total = 0
    for i in t:
        total += i
    return total

a = [3, 6, 7, 2, 0, 1]
add_all(a)

19